/* Mise en forme */

html {
    width: 99%;
}

body {
    margin : 4px;
    
}

.name {
    display: flex;
    justify-content: space-around;
}

h1 {
    width: auto;
}

.informations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reco {
    width: 100%;
}

.propos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.propos2 {
    border-bottom: #cd201f solid 3px;
}

.recoinf {
    margin-bottom: 20px;
}

.none {
    display: none;
}

/* Police coleurs ect ...*/

.bio {
    margin-right: 5px;
    margin-left: 10px;
}

.job {
    font-family: 'Roboto';
    font-size: 2em;
}

.sectiongauche {
    display: flex;
    flex-direction: column;
}

.informations {
    display: flex;
    flex-direction: column;
    
}

label {
    padding-right: 10px;
    font-size: 1.5em;
    font-family: 'Roboto';
}

progress {
    color: #cd201f;;
}

.titregauche {
    font-size: 2em;
    color : #cd201f;
    text-align: left;
    font-family: 'Roboto';
    margin-left: 5px;
    margin-right: 5px;
}

.info {
    display: flex;
    flex-direction: space-around;
    justify-content: flex-start;
    font-family: 'Roboto';
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.5em;
}

.texteblabla {
    display: none;
}

h1 {
    font-family: 'Roboto';
}

h2 {
    font-family: 'Roboto';
}
h3 {
    font-family: 'Roboto';
} 

p {
    font-family: 'Roboto';
}

h4 {
    font-family: 'Roboto';
}

.soul {
    border-bottom: 3px solid #cd201f;
    margin-right: 5px;   
}

.fas {
    margin-right: 10px;
}

.far {
    margin-right: 10px;
}

.logocotebordure {
    border-bottom: 2px solid #cd201f;
    width: 95%;
}

/* Logo */

.fas.fa-music,.fas.fa-basketball-ball,.fas.fa-rocket {
    color : #424242;
    font-size: 1.5em;
    border: 5px solid #424242;
    padding: 0.5em;
    border-radius: 50% ;
}

.far.fa-dot-circle,.fas.fa-circle {
    font-size: 1em;
    color: #cd201f;
}


.date {
    display : flex;
    flex-direction: wrap;
    align-items: center;
    width: 17em;
    font-size: 1em;
    color: black;

}

.points {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fas.fa-graduation-cap,.fas.fa-pencil-alt,.fas.fa-briefcase {
    font-size: 3em;
    color: #cd201f;   
}

.logocotebordure {
    display: flex;
    flex-direction: space-between;
    justify-content: start;
    align-items: center;
}

.logo1 {
    margin-right: 10px;
}

.logo2 {
    margin-left: 20px;
}

.margee {
    margin-right: 1em;
}

.conteneurlogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 99%;
    margin-bottom: 50px;
}

/* Photo */

.photo {
    width: 100px;
    height: 100px;
    border-radius: 60%;
    border: black solid 3px;
}

.photo1 {
    display: none;
}

/* MEDIA QUERIES */


@media screen and (min-width: 200px) {
    .titregauche {
        border-bottom: #cd201f solid 3px;
        color: black;
        font-family: 'Roboto';
    }
}

@media screen and (min-width: 1025px) {

    #moitie {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }

    /* Photo */

    .photo1 {
        display: inline;
        width: 175px;
        height: 175px;
        border-radius: 60%;
        border: black solid 5px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .photo {
        display: none;
        width: 1px;
        height: 1px;
        
    }

    .sectiongauche {
        width: 400px;
        border: #cd201f solid 5px;
    }

    .titregauche {
        font-size: 2em;
        text-align: center;
        font-family: 'Roboto';
        background:#cd201f;
    }

    .fondphoto {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texteblabla {
        display: inline;
    }

    .date2 {
        width: 150px;
    }

    .space {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #partiedroite {
        margin-left: 65px;
        width: initial;
        height: 1080px;
    }

    .partie {
        height: 1080px;
        width: 980px;
    }

    .bio {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 1.25em;
    }

    .reco {
        display: flex;
        flex-direction: row;
    }

    .recoinf {
        margin-right: 20px;
    }

    .info {
        display: flex;
        font-family: 'Roboto';
        margin-right: 10px;
        margin-left: 10px;
        font-size: 1.5em;
    }

    .date {
        width: auto;
        margin-right: 10px;
        margin-top: 8px;
    }

    .infodroite {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-right: 10px;
    }

    .name {
        font-family: 'Roboto';
        font-size: 2em;
        text-transform: uppercase;
        justify-content: flex-start;

    }

    .prénom {
        color : #cd201f;
    }

    .job {
        font-family: 'Roboto';
        font-size: 2em;
        color: #424242;
    }

    .soul {
        border-bottom: 3px solid #cd201f;
        margin-right: 5px;   
    }

    .logocotebordure {
        border-bottom: 2px solid #cd201f;
        width: 95%;
    }

    h1 {
        width: 980px;
    }
}


@media screen and (min-width: 1981px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 1920px;
        height: 1080px;
    }
}


