/* Mise en forme */

html {
    width: 99%;
}

body {
    margin : 4px;
    
}

.name {
    display: flex;
    justify-content: space-around;
}

h1 {
    width: auto;
}

.informations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reco {
    width: 100%;
}

.recoinf {
    margin-bottom: 20px;
}

/* Police coleurs ect ...*/

.job {
    font-family: 'Roboto';
    font-size: 2em;
}

.sectiongauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informations {
    display: flex;
    flex-direction: column;
}

.titregauche {
    font-size: 2em;
    color : #e53935;
    text-align: center;
    font-family: 'Roboto';
}

.info {
    display: flex;
    flex-direction: space-around;
    justify-content: flex-start;
}
.texteblabla {
    display: none;
}

p {
    font-family: 'Roboto';
}

.soul {
    border-bottom: 2px solid #e53935;
    margin-right: 5px;   
}

.fas {
    margin-right: 10px;
}

.far {
    margin-right: 10px;
}

.logocotebordure {
    border-bottom: 2px solid #e53935;
    width: 95%;
}

/* Logo */

.fas.fa-music,.fas.fa-basketball-ball,.fas.fa-rocket {
    color : #424242;
    font-size: 1.5em;
    border: 5px solid #424242;
    padding: 0.5em;
    border-radius: 50% ;
}

.far.fa-dot-circle,.fas.fa-circle {
    font-size: 1em;
    color: #e53935;
}


.date {
    display : flex;
    flex-direction: wrap;
    align-items: center;
    width: 15em;
    font-size: 1em;
    color: black;

}

.points {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fas.fa-graduation-cap,.fas.fa-pencil-alt,.fas.fa-briefcase {
    font-size: 3em;
    color: #e53935;   
}

.logocotebordure {
    display: flex;
    flex-direction: space-between;
    justify-content: start;
    align-items: center;
}

.logo1 {
    margin-right: 10px;
}

.logo2 {
    margin-left: 20px;
}

.margee {
    margin-right: 1em;
}

.conteneurlogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 99%;
    margin-bottom: 50px;
}

/* Photo */

.photo {
    width: 100px;
    height: 100px;
    background: #e53935;
    border-radius: 60%;
    border: #424242  solid 3px;
}

.photo1 {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {

    #moitie {
        display: flex;
        flex-direction: row-reverse;
    }

    /* Photo */

    .photo1 {
        display: inline;
        width: 175px;
        height: 175px;
        background: #e53935;
        border-radius: 60%;
        border: #424242  solid 5px;
    }

    .photo {
        display: none;
        width: 1px;
        height: 1px;
        
    }

    .sectiongauche {
        background: #e53935;
        width: auto;
    }

    .titregauche {
        font-size: 2em;
        color : #e53935;
        text-align: center;
        font-family: 'Roboto';
        background: #424242;
    }

    .fondphoto {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texteblabla {
        display: inline;
    }

    .date2 {
        width: 150px;
    }

    #partiedroite {
        margin-left: 65px;
    }

    .partiegauche {
        width: 100%;
    }

    .bio {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 400px;
    }

    .reco {
        display: flex;
        flex-direction: row;
    }

    .recoinf {
        margin-right: 20px;
    }


    .info {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
    }

    .date {
        width: auto;
        margin-right: 10px;
    }

    .infodroite {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 10px;
    }

    .name {
        font-family: 'Roboto';
        font-size: 2em;
        text-transform: uppercase;
        justify-content: flex-start;

    }

    .prénom {
        color : #e53935;
    }

    .job {
        font-family: 'Roboto';
        font-size: 2em;
        color: #424242;
    }

    .soul {
        border-bottom: 2px solid #e53935;
        margin-right: 5px;   
    }

    .logocotebordure {
        border-bottom: 2px solid #e53935;
        width: 95%;
    }

    
    
}

@media screen and (min-width: 1981px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 1920px;
        height: 1080px;
    }
}


